// out: ../css/yoursite.css, autoprefixer: true, compress: true,

@import (less) '/Modules/grid';
@import (less) '/Modules/bedrock';
@import (less) '/Components/buttons';
@import (less) '/Components/text';
@import (less) '/Components/inputs';
@import (less) '/Components/brand-colors';
@import (less) '/Components/media-queries';


/* Header */


.mainHeader{
    color: #fff;
}

.desktop-main-content_cover__img{
    background-image: url('');
}


/* //// Header */

/* Cover */

.mainCover{
    min-height: 400px;
}

.imma-parallax-cover{
    min-height: 70vh;
    background: linear-gradient(180deg, #0700b8 0%, #00ff88 100%);
    
}

/*  /// Cover */

/* Content */

.mainContent{
    min-height: 50vh;
}
/* ///Content */

/* Footer */

.mainFooter{
    min-height: 100px;
}

.footerColumns{
    border: 1px dashed white;
}
/* /// Footer */


