input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
    margin: 0!important;
    height: 35px!important;
    border: 0;
    padding: 5px;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    text-align: center;
    &:active {
        /*color: var(--nigrum);*/
    }
    &:focus {
        /*color: var(--nigrum);*/
    }
}